.wallet-cards-container {
  background-color: rgb(17, 16, 19);
  overflow: auto;
  position: relative;
  display: flex;
  flex-direction: column;
  width: 50%;
  padding: 2em 3em;
  gap: 2em; 
}

.wallet-cards-container.disabled {
  pointer-events: none;
  filter: blur(7px);
}

.wallets-container-disabled {
  position: absolute;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
}

.wallets-container-disabled.active {
  background-color: #1515182c;
  z-index: 100;
  pointer-events: none;
}

/* scrollbars*/
.wallet-cards-container  {
  scrollbar-width: thin;
  scrollbar-color: var(--white) var(--selected);
}

.new-wallet-button{
  display: none;
}

.save-data-container {
  z-index: 100;
  display: flex;
  flex-grow: 1;
  justify-content: start;
  align-items: end;
  gap: 2em;
  padding-top: 1.5em;
  margin: 0 auto;
}

.data-btn-container {
  display: flex;
  cursor: pointer;
}

.export-data-button,
.import-data-button {
  padding: 0.4em 1em;
  background-color: transparent;
  color: var(--grey);
  border-style: none;
  display: flex;
  cursor: pointer;
  align-items: center;
}

.save-data-svg {
  fill-opacity: 0.5;
  stroke-opacity: 0.5;
  width: 23px;
}

.import-data-button:hover .save-data-svg,
.export-data-button:hover .save-data-svg {
  fill-opacity: 1;
  fill: rgb(148, 132, 236);
}

.export-data-button:hover,
.import-data-button:hover {
  color: var(--white);
}

.export-data-button span,
.import-data-button span {
  padding-left: 0.5em;
  position: relative;
  padding-bottom: 0.3em;
  padding-right: 0.5em;
}

.export-data-button span::after,
.import-data-button span::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  height: 2px;
  width: 0%;
  background-color: rgba(255, 255, 255, 0.46);
  transition: 0.5s;
}

.export-data-button:hover span::after,
.import-data-button:hover span::after {
  width: 100%; 
}

.import-data-input-hiden{
  display: none;
}

@media (max-width: 600px) {

.wallet-cards-container {
  padding-top: 78px;
  width: 100%;
}

.new-wallet-button{
  display: block;
  z-index: 10;
  padding: 0.6em 1.5em;
  background-color: transparent;
  color: var(--white);
  font-size: 1.4rem;
  border-radius: 4px;
  border: 1px solid var(--white) ;
}

}