.markets-container {
    background: radial-gradient(rgba(102, 219, 209, 0.07) 10%,
            rgba(0, 0, 0, 0.1) 100%),
        linear-gradient(152.09deg,
            rgba(72, 216, 241, 0.25) 2.8%,
            rgba(0, 0, 0, 0.2) 54.35%);

            width: 100%;
}

.markets-search-input {
    background-color: transparent;
    border-radius: 0.5em;
    border: 0.05em solid var(--darkgrey);
    padding: 0.3em 0.5em 0.3em 1em;
    line-height: 1.5;
    font-size: 0.85rem;
    color: var(--grey);
    min-width: 15em;
    width: 20%;
}