.markets-container {
    background:
        linear-gradient(152.09deg,
            rgba(52, 213, 241, 0.2) 2.8%,
            rgba(0, 0, 0, 0.2) 54.35%),
        linear-gradient(0deg, #1C1B23, #1C1B23);

    width: 100%;
}

.markets-search-input {
    background-color: transparent;
    border-radius: 0.5em;
    border: 0.05em solid var(--darkgrey);
    padding: 0.3em 0.5em 0.3em 1em;
    line-height: 1.5;
    font-size: 0.85rem;
    color: var(--grey);
    min-width: 15em;
    width: 20%;
}