.fund-list {
  font-size: 0.85rem;
  height: 100%;
  overflow-y: auto;
  padding-right: 0.6em;
}

.funds-header {
  display: grid;
  grid-template-columns: 0.5fr 0.3fr 0.2fr 0.03fr;
  padding: 1.1em 0 0 0;
  color: var(--grey);
}

.funds-header.no-btn,
.funds-row.no-btn {
  grid-template-columns: 0.47fr 0.47fr 0.06fr 0.03fr;
}

.grid-divider {
  grid-row: 2/2;
  grid-column: 1/4;
  height: 1px;
  background-color: var(--darkgrey);
  margin-top: 0.8em;
  margin-bottom: 0.8em;
}


.funds-row {
  display: grid;
  grid-template-columns: 0.5fr 0.3fr 0.2fr 0.03fr;
}

.funds-coin-name-container {
  display: flex;
  align-items: center;
  padding: 0.1em 0;
}

.funds-coin-name {
  display: flex;
  align-items: baseline;
}

.funds-coin-name span {
  color: var(--grey);
  padding: 0 0.2em;
  font-weight: 700;
  font-size: 0.6rem;
}

.legend-color {
  width: 0.7rem;
  height: 0.7rem;
  border-radius: 4px;
  margin-right: 0.35em;
  align-self: center;
}

/* scrollbars*/
.fund-list {
  scrollbar-width: thin;
  scrollbar-color: var(--white) var(--selected);
}





@media (max-width: 600px) {
  .fund-list {
  font-size: 1.2rem;
  padding-right: 0;
}

.grid-divider {
   margin-top: 0.5em;
  margin-bottom: 0.5em;
}

}