.coin-source-container {
  background: linear-gradient(
      152.09deg,
      rgba(52, 213, 241, 0.2) 2.8%,
      rgba(0, 0, 0, 0.2) 54.35%
    ),
    linear-gradient(0deg, #1c1b23, #1c1b23);

  width: 50%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-header {
  padding: 1.1em 1em 1.1em;
  text-align: left;
  font-size: 1.5rem;
  max-width: 65%;
}

.form-divider-hor {
  height: 0.05em;
  width: 65%;
  background-color: var(--darkgrey);
  margin: 0 0em 1em 0em;
}

.coin-source-form {
  min-width: 360px;
  width: 65%;
  display: flex;
  flex-direction: column;
  align-items: start;
  padding: 0 0.5em;
  margin: 0.5em auto;
}

.coin-assets-form {
  min-width: 360px;
  width: 65%;
  height: 100%;
  padding: 0 0.5em;
  display: flex;
  flex-direction: column;
  align-items: start;
  overflow-y: auto;
}

.coin-source-container label {
  font-size: 0.85rem;
  font-weight: 600;
  margin-top: 2.5em;
  margin-bottom: 0.5em;
  margin-left: 0.3em;
}

.input {
  background-color: var(--background);
  border-radius: 0.5em;
  border: 0.05em solid var(--darkgrey);
  padding: 0.75em 0.5em 0.75em 1em;
  line-height: 1.5;
  font-size: 0.85rem;
  color: var(--grey);
  align-self: stretch;
}

.form-controls {
  width: 100%;
  margin-top: 1.5em;
  margin-bottom: 1.5em;
  display: flex;
  justify-content: space-between;
}

.cancel-btn,
.ok-btn {
  border-radius: 9px;
  padding: 1em 2.2em;
  font-size: 0.85rem;
  font-weight: 600;
}

.cancel-btn {
  background-color: var(--background);
  border: 0.05em solid var(--darkgrey);
  color: var(--grey);
}

.ok-btn {
  background-color: var(--accent);
  border: 0.05em solid var(--darkgrey);
  color: var(--background);
}

.ok-btn:hover {
  filter: brightness(0.9);
  color: var(--black);
}

.cancel-btn:hover {
  background-color: var(--black);
  color: var(--white);
}

.coin-img {
  height: 1.1em;
}

.submit-coin-container {
  display: flex;
  justify-content: end;
  padding: 0.8em 0;
}

.wallet-name {
  font-weight: 700;
  font-size: 1.2rem;
}

.assets-table-container {
  flex-grow: 1;
  min-height: 130px;
}

.invisible {
  display: none;
}

/* scrollbars*/
.coin-assets-form {
  scrollbar-width: thin;
  scrollbar-color: var(--white) var(--selected);
}

@media (max-width: 600px) {
  .coin-source-container {
    position: fixed;
    z-index: 500;
    width: 100%;
    transform: translateX(100%);
    padding-top: 58px;
  }

  .assets-table-container {
    flex-grow: 0;
  }

  .coin-source-container.visible {
    transform: translateX(0%);
  }
}
