/* block image selecting or dragging*/
img {
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-user-drag: none;
  -webkit-user-drag: none;
  -webkit-touch-callout: none;
}

.down {
  color: var(--red);
}

.up {
  color: var(--green);
}

.coin-list-container {
  height: 82vh;
  overflow: hidden;
  padding: 15px 20px 15px 15px;
  color: var(--white);
}

.coin-list {
  height: 100%;
  overflow-y: scroll;
  padding-right: 10px;
  font-size: 0.9rem;
}

.coin-row-container {
  display: grid;
  grid-template-columns: 70px 2fr 1fr 2fr 2fr 2fr;
  padding: 0.85em 0px;
  align-items: center;
  justify-items: end;
  box-shadow: 0px -1px var(--selected);
  margin-right: 1em;
}

.coin-row-container:hover {
  background-color: var(--selected);
}

.justify-left {
  justify-self: start;
}

.justify-center {
  justify-self: center;
}


.briefcase-icon{
    stroke:var(--selected);
    width: 30px;
}

.briefcase-icon-selected{
    stroke:var(--white);
    width: 30px;
}

.coin-name {
  display: flex;
  justify-self: left;
  align-items: center;
  gap: 0.8em;
}

.coin-name div {
  font-weight: 800;
}

.coin-name span {
  padding-left: 0.3em;
  color: var(--grey);
}

.coin-image {
  width: 2rem;
  object-fit: cover;
  justify-self: start;
}

/* scrollbars*/
.coin-list {
  scrollbar-width: thin;
  scrollbar-color: var(--white) var(--selected);
}
