.lateral-bar-container {
  background: radial-gradient(circle at 220%,
      rgba(196, 197, 220, 0.10) 0%,
      transparent 90%),
    linear-gradient(#0E0E10 0%, #0e0e10 100%);

  border-right: 1px solid #ffffff33;
  height: 100vh;
  display: flex;
  flex-direction: column;
  gap: 4em;
  align-items: center;
  justify-content: center;
  min-width: 200px;
  width: 16%;
}


.lateral-bar-container a {
  color: var(--grey);
  text-decoration: none;
  text-align: center;
  line-height: 3;
  font-size: 1.25rem;
  font-weight: 400;
  letter-spacing: 0.03rem;
  width: 100%;
}

.lateral-bar-container a:focus {
  outline: transparent;
  background-color: var(--selected);
}

.lateral-bar-container a:hover {
  background-color: var(--selected);
}

.lateral-bar-container a:active {
  background: var(--darkaccent);
  color: var(--black);
}

.lateral-bar-container .selected-page {
  background: var(--accent);
  color: var(--black);
  font-weight: 700;
}

.lateral-bar-container .selected-page:focus {
  background: var(--accent);
  color: var(--black);
}

.lateral-bar-container .selected-page:hover {
  background: var(--lightaccent);
  color: var(--black);
}