.layout-container{
    display: flex;
    margin: 0;
    padding: 0;
    height: 100vh;
    overflow: hidden;
}



@media (max-width: 600px) {
 
  .layout-container{
    overflow: auto;
    position: relative;
}




}