.portfolio-card-container {
    background: linear-gradient(90deg, #20222D 0%, #2B2D3C 100%);
    border: 1px solid #43434C;
    border-left: 10px solid #3D798F;
    border-radius: 14px;
    display: flex;
    box-shadow: 5px 5px 13.5px 0px #0000009C;
    min-width: fit-content;
}

.portfolio-card-left-panel {
    min-width: fit-content;
    padding: 1.5em 1.7em;
    display: flex;
    flex-direction: column;
    gap: 1.3em;
}

.portfolio-card-coin {
    display: flex;
    align-items: center;
}

.portfolio-card-coin img {
    height: 3.5rem;
    filter: saturate(2);
    margin-right: 0.4em;
}

.potfolio-coin-name-wrapper {
    display: flex;
    flex-direction: column;
    align-items: start;
    font-size: 1.25rem;
    font-weight: 700;
}

.potfolio-coin-name-wrapper span {
    font-size: 0.8rem;
    font-weight: 400;
    color: var(--grey);
}

.portfolio-coin-total-container {
    display: flex;
    flex-direction: column;
    text-align: start;
}

.portfolio-coin-total-container p {
    margin: 0;
}

.portfolio-coin-total {
    color: var(--accent);
    font-weight: 700;
    font-size: 1.75rem;
}

.portfolio-coin-total span {
    color: var(--accent);
    font-weight: 700;
    font-size: 1.0rem;
}

@media (max-width: 600px) {
    
    .portfolio-total-panel p span {
        margin-right: 0.1em;
    }

    .portfolio-total-panel .label {
        margin-bottom: 0.4em;  
    }

    .portfolio-total-panel .crypto {
        margin-top: 0.2em;
        text-align: right;
        font-size: 13px;
    }
    
    /* CARD */
    
    .portfolio-card-container {
        flex-direction: column;
        border: 1px solid #43434C;
        padding-bottom: 1.5em ; 
    }

    .portfolio-card-left-panel {
        flex-direction: row;
        justify-content: space-between;
        border-radius: 14px 14px 0 0;
        background-color: var(--innerbackground);
        padding: 2.5rem 3rem;    


    }
  
    .portfolio-card-coin img {
        height: 3.5rem;
        margin-right: 0.5em;
    }

    .potfolio-coin-name-wrapper {
        font-size: 1.7rem;
    }

     .potfolio-coin-name-wrapper span{
        font-size: 1.0rem;
    }

    .portfolio-coin-total-container {
        font-size: 1.2rem;
        text-align: right;
    }

    .portfolio-coin-total-container p span {
        font-size: 10px;
    }

    .portfolio-coin-total {
        font-size: 2.3rem;
    }

    .portfolio-coin-total span {
        color: var(--accent);
        font-weight: 700;
    }

    .portfolio-table-header > * ,
    .portfolio-table-row > * {
        margin: 0;
    }
    



}