.portfolio-coin-panel{
background-color: rgb(60, 44, 4);
flex-grow: 7;
display: flex;
flex-direction: column;
}

.portfolio-chart-panel{
background-color: rgba(250, 235, 215, 0.34);
    flex-grow: 3;
}

.portfolio-total-panel{
    color: var(--almostwhite);
    display: flex;
    flex-direction: column;
    align-items: start;
    margin-top: 0.8em;
    padding-left: 1em;
    font-size: 2.7rem;
    margin: 2em 0 0.7em 0;
}
  
.portfolio-total-panel .label {
    font-weight: 400;
    font-size: 1.1rem;
    filter: brightness(0.85);
  }

  .portfolio-total-panel p{
  margin: 0;
  padding: 0;
  color: var(--white);
  font-weight: 500;

  }
  
  .portfolio-total-panel span {
    font-weight: 400;
    filter: brightness(0.85);
    color: var(--almostwhite);
  }
  
  .portfolio-total-panel .crypto {
    font-size: 0.9rem;
    color: var(--almostwhite);
    font-weight: 500;
  }
  
