.container {
    --white: #e6e6e6;
    --darkgrey: #777;
    --grey: #b3b3b3;
    --background: #303d52;
    --selected: rgba(209, 218, 233, 0.1);
    --highlighted: rgba(209, 218, 233, 0.25);

    position: relative;
    width: 20em;
    min-height: 1.5em;
    border: 0.05em solid var(--darkgrey);
    border-radius: 0.25em;
    display: flex;
    align-items: center;
    gap: 0.5em;
    padding: 0.5em;
    outline: none;
    background-color: var(--background);
}

.container:focus {
    border-color: hsl(200, 100%, 50%);
}

.value {
    flex-grow: 1;
    display: flex;
    gap: 0.5em;
    flex-wrap: wrap;
}

.clear-btn {
    background: none;
    color: var(--grey);
    border: none;
    outline: none;
    width: 1rem;
    padding: 0;
}

.clear-btn:hover,
.clear-btn:focus {
    color: var(--white);
}

.divider {
    background-color: var(--darkgrey);
    width: 0.05em;
    align-self: stretch;
}

.caret {
    border: 0.25em solid transparent;
    border-top-color: var(--grey);
    translate: 0 25%;
}

.options {
    position: absolute;
    margin: 0;
    padding: 0;
    list-style: none;
    max-height: 10em;
    overflow-y: auto;
    border: 0.05em solid var(--darkgrey);
    border-radius: 0.25em;
    width: 100%;
    left: 0;
    top: calc(100% + 0.5em);
    background-color: var(--background);
    display: none;


}

.options.show {
    display: block;
}

.option {
    display: flex;
    padding: 0.25em 0.5em;
    cursor: pointer;
}

.option.selected {
    background-color: var(--selected);
}

.option.highlighted {
    background-color: var(--highlighted);
}