
.main-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.legends-container{
    display: flex;
    flex-direction: column;
    padding: 0.2em 0 0 0;
}

.legend{
    display: flex;
    align-items: center;
    font-size: 0.7rem;
    padding: 0.15em 0;
}

.legend-color{
    width: 0.7rem;
     height: 0.7rem;
     border-radius: 4px;
      margin-right: 0.35em;
}

.custom-tooltip{
    font-size: 0.85rem;
    font-weight: 500;
    background-color: var(--darkselected);
    line-height: 2;
    padding: 0 0.5em;
    border-radius: 0.1rem;
}