.wallet-card-container {
  background-color: var(--innerbackground);
  display: flex;
  width: 100%;
  min-width: fit-content;
  max-height: 260px;
  border-radius: 14px;
  position: relative;
  justify-items: center;
  align-content: center;
  box-shadow: 5px 5px 13.5px 0px #0000009c;
}

.wallet-card-name {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  align-items: center;
  justify-content: center;
  min-height: 165px;
  min-width: 160px;
  font-size: 1.25rem;
  font-weight: 700;
  background-color: var(--lightblack);
  width: 30%;
}

.wallet-card-total {
  font-size: 0.95rem;
  color: var(--accent);
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 0.8em;
}

.wallet-card-total div {
  font-weight: 400;
  font-size: 0.7rem;
  filter: brightness(0.9);
}

.wallet-card-total p {
  margin: 0;
  padding: 0;
}

.wallet-card-total span {
  font-weight: 400;
  filter: brightness(0.85);
}

.wallet-card-controls {
  position: absolute;
  right: 0.5em;
  top: 0.5em;
  z-index: 100;
}

.wallet-card-list-and-pie-container {
  display: flex;
  flex-grow: 1;
}

.wallet-card-list {
  flex-grow: 1;
  padding: 1em;
  align-content: center;
}

.wallet-card-pie {
  min-width: 100px;
  width: 20%;
  margin-top: 2.7em;
  padding: 0 0.9em 2.7em 0.1em;
  display: flex;
  align-items: center;
}

@media (max-width: 600px) {
  .wallet-card-container {
    flex-direction: column;
    max-height: none;
  }

  .wallet-card-name {
    width: 100%;
    min-height: fit-content;
    border-radius: 14px 14px 0 0;
    flex-direction: row;
    justify-content: space-between;
    font-size: 1.8rem;
    padding: 2em 1.5em 1.5em 1.5em;
  }

  .wallet-card-total {
    font-size: 1.9rem;
    margin: 0;
  }

  .wallet-card-total div {
    font-size: 1.2rem;
    align-self: flex-start;
  }

  .wallet-card-list-and-pie-container {
   min-height: fit-content;
   padding: 0.4em 0;
  }

  .wallet-card-list {
    padding: 1em 0 1em 2.7em;
  }

  .wallet-card-pie {
    margin: 0;
    padding: 0 1.5em 0 1.5em;
    display: flex;
    align-items: center;
    min-width: 100px;
  }
}
