.wallet-card-container {
  background-color: var(--innerbackground);
  width: 100%;
  min-height: 120px;
  display: flex;
  border-radius: 14px;
  overflow: hidden;
  position: relative;
  justify-items: center;
  align-content: center;
}

.wallet-card-name {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  align-items: center;
  justify-content: center;
  min-width: 160px;
  font-size: 1.25rem;
  font-weight: 700;
  background-color: var(--lightblack);
  flex-grow: 1;
}

.wallet-card-total {
  font-size: 0.95rem;
  color: var(--accent);
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 0.8em;
}

.wallet-card-total p{
margin: 0;
padding: 0;
}

.wallet-card-total span {
  font-weight: 400;
  filter: brightness(0.85);
}

.wallet-card-total div {
  font-weight: 400;
  font-size: 0.7rem;
  filter: brightness(0.85);
}

.wallet-card-controls {
  position: absolute;
  right: 0.5em;
  top: 0.5em;
  z-index: 100;
}

.wallet-card-list {
  flex-grow: 4;
  padding: 1em;
  align-content: center;
}

.wallet-card-pie {
  margin-top: 2.7em;
  padding: 0 0.5em 2.7em 0.1em;
  display: flex;
  align-items: center;  
}
