@import url('https://fonts.googleapis.com/css2?family=Inter:opsz,wght@14..32,100..900&display=swap');


/* Variables css para los colores*/
:root {
  --white: #e6e6e6;
  --black: #111;
  --blue: #3a80e9;
  --grey: #b3b3b3;
  --darkgrey: #1b1b1b;
  --green: #60cf6f;
  --red: #c86066;
  --darkblue: #525c6c;
  --selected:rgba(209, 218, 233, 0.091);
  background-color: var(--darkblue);
  color: var(--white);
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;
  font-family: "Inter", serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}



/* Color de seleccion personalizado */
::selection{
  background-color: var(--blue);
}


