@import url("https://fonts.googleapis.com/css2?family=Inter:opsz,wght@14..32,100..900&display=swap");

/* Variables css para los colores*/
:root {
  --white: #e6e6e6;
  --almostwhite: #c3c3c3;
  --black: #080808;
  --lightblack: #19191F;
  --blue: #3a80e9;
  --grey: #8C8BA1;
  --darkgrey: #464352;
  --green: #60cf6f;
  --red: #c86066;
  --background: #0d1117;
  --innerbackground:  #1c2225;
  --selected: rgba(209, 218, 233, 0.1);
  --darkselected: rgba(73, 76, 84, 0.8);
  --highlighted: rgba(209, 218, 233, 0.25);
  --accent:#F9BE6C;
  --lightaccent:#ceb75b;
  
  background-color: var(--background);
  color: var(--white);
  box-sizing: border-box;
}

#root {
  margin: 0 auto;
  text-align: center;
  font-family: "Inter", serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  letter-spacing: 0.03rem;
}

body{
  margin: 0;
}

