@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;500&display=swap');

/* Variables css para los colores*/
:root {
  --white: #fff;
  --black: #111;
  --blue: #3a80e9;
  --grey: #888;
  --darkgrey: #1b1b1b;
  --green: #61c96f;
  --red: #f94141;
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;
  font-family: "Poppins", serif;
  font-weight: 200;
  font-style: normal;
}

main{
  height: 200vh;
}

/* Color de seleccion personalizado */
::selection{
  background-color: var(--blue);
}


/* Barra de scroll personalizada */
html {
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  width: 0.3rem;
}

::-webkit-scrollbar-track {
  background-color: var(--black);
}

::-webkit-scrollbar-thumb {
  background: var(--blue);
  border-radius: 10px;
}

